:root {
  --white-color: 255, 255, 255;
  --black-color: 0, 0, 0;
  --primary-color: 0, 67, 38;
  --primary-light-color: 84, 214, 158;
  --primary-very-light-color: 151, 214, 187;
  --standart-gap: 20px;
  --standart-animation-time: 0.3s;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(var(--black-color));
}
