:root{
    --fog-of-war-color: rgb(52, 52, 52); 
}

#top-button-block{


    &.player{
        .master-only{
            display: none;
        }
    }
}

#container{
    &.master{
        .hex.closed{
            background:color-mix(in srgb, rgba(var(--floor-color), 1), var(--fog-of-war-color) 90%)
        }
        .hex.space.closed{
            background:color-mix(in srgb, rgba(var(--space-color), 1), var(--fog-of-war-color) 90%)
        }
    }

    &.player{
        .hex.closed{
            background-color: var(--fog-of-war-color);
            .inner .content_icon{
                display: none;
            }
        }
        .hex .inner .content_icon.hidden{
            display: none;
        }
    }
}