body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--standart-gap);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--standart-gap) * 2);
    width: 50%;

    .data-place{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        width: 100%;

        .data-block{
            position: absolute;
            p{
                margin: 0;
                font-size: 1.5em;
                font-weight: 400;
            }
        }
    }

    .buttons-place{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        width: 100%;

        .buttons-block{
            position: absolute;
            display: flex;
            gap: calc(var(--standart-gap) * 2);
            align-items: center;
            justify-content: center;
            padding: var(--standart-gap);
            width: 100%;

            button{
                box-sizing: border-box;
                width: 200px;
                padding: var(--standart-gap);
                background-color: rgba(var(--primary-light-color), 0.8);
                border: none;
                border-radius: 5px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
                            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                color: rgb(var(--white-color));
                font-size: 1.5em;
                font-weight: 400;
                cursor: pointer;
                transition: all var(--standart-animation-time) cubic-bezier(.42,.1,.21,.99);

                &:hover{
                    transform: translateY(-5px);
                    background-color: rgba(var(--primary-very-light-color), 0.8);
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, 
                                rgba(0, 0, 0, 0.22) 0px 10px 10px;
                }
            }
        }
    }
}