<!DOCTYPE html>
<html>
<head>
	<title>Exploration game</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/common_style.css">
	<link rel="stylesheet" href="../css/setting_map_style.css">
    <link rel="stylesheet" href="../css/game_style.css">

</head>
<body>
	<div id="loading_curtain"><p>Грузимся, проверяемся</p></div>

	<div id="top-button-block">
		<button id="back-to-main-page">На главную</button>

		<div id="mapNameContainer">
			mapName
		</div>

		<div class="controls">
			<b>LMB - move character;</b>
			<b>MMB - move map;</b>
			<b class="master-only">RMB - change hex visibility;</b>
		</div>

		<!-- <div class="painting-controls">
			<label class="for-painting-mode">
				<input type="checkbox" id="painting-mode-checkbox">
				<span>painting mode; LMB</span>
			</label>

			<fieldset class="cell-type-picker">
				<label class="for-cell-type">
					<input type="radio" name="cell-type" value="floor" checked>
					<span>floor</span>
				</label>
				<label class="for-cell-type">
					<input type="radio" name="cell-type" value="space">
					<span>space</span>
				</label>
			</fieldset>
		</div> -->

		<button id="complete-turn-button" class="master-only">Подтвердить ход</button>
	</div>



	<div id="container">
		<div id="map_container">
			<div id="content_picker" class="hex_menu fading hidden">
				<div class="content_element" data-content="content_name">
					<img src="../src/icons/content_src" class="content_icon" alt="er">
					<p class="content_name">content_name</p>
				</div>
			</div>

			<div id="content_modifier" class="hex_menu fading hidden">
				<div class="content_element" id="change_content_visibility">
					<img src="../src/tech_icons/hidden.svg" class="content_icon" alt="er">
					<p class="content_name">change_visibility</p>
				</div>
				<div class="content_element" id="delete_content">
					<img src="../src/tech_icons/delete.svg" class="content_icon" alt="er">
					<p class="content_name">delete</p>
				</div>
			</div>


			<div class="hex">
				<div class="inner">
					<img src="../src/icons/camp_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/risk_1_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/building_broken_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/building_3_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/building_1_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/cave_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/building_2_icon.svg" class="content_icon" alt="er">
				</div>
				<div class="corner-1"></div>
				<div class="corner-2"></div>
			</div>
			
		</div>
	</div>

	<!--jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!--socket.io (served by server)-->
	<script src="/socket.io/socket.io.js"></script>
	<!--custom scripts-->
	<script src="../js/common.js"></script>
	<script src="../js/gameplay.js"></script>
</body>
</html>