<!DOCTYPE html>
<html>
<head>
	<title>Exploration game</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/common_style.css">
	<link rel="stylesheet" href="../css/start_page_style.css">

</head>
<body>
	<button id="back-to-main-page">На главную</button>
	<button id="back-button">Назад</button>
	<div id="container">
		<div class="data-place">
			<div class="data-block" data-index="1">
				<p>ХТО Я?</p>
			</div>

			<div class="data-block hidden" data-index="2">
				<p>Какой игрок?</p>
			</div>

			<div class="data-block hidden" data-index="3">
				<p>Да? Докажи</p>
			</div>

			<div class="data-block hidden" data-index="4">
				<p>Выберите игру, к которой присоединиться</p>
			</div>

			<div class="data-block hidden" data-index="5">
				<p>Добро пожаловать, чем займетесь?</p>
			</div>

			<div class="data-block hidden" data-index="6">
				<p>Выберите игру, к которой присоединиться, в качестве мастера</p>
			</div>

			<div class="data-block hidden" data-index="7">
				<p>Выберите карту, которую хотите настроить, или создать новую</p>
			</div>

			<div class="data-block hidden" data-index="8">
				<p>Выберите, что делать</p>
			</div>
		</div>

		<div class="buttons-place">
			<!--pick your role-->
			<div class="buttons-block" data-index="1">
				<button id="pick-player-role-btn">ИГРОК</button>
				<button id="pick-master-role-btn">МАСТЕР</button>
			</div>

			<!--player login-->
			<div class="buttons-block hidden" data-index="2">
				<div class="login-form">
					<select id="player-username-input">
						<option value="test_name">test_name</option>
					</select>
					<label class="for-input">
						<input type="password" id="player-password-input" placeholder="password" required>
						<span class="label-text">Пароль</span>
					</label>
					<button id="player-login-button">Войти</button>
				</div>
			</div>

			<!--master login-->
			<div class="buttons-block hidden" data-index="3">
				<div class="login-form">
					<label class="for-input">
						<input type="password" id="master-password-input" placeholder="password" required>
						<span class="label-text">Пароль</span>
					</label>
					<button id="master-login-button">Войти</button>
				</div>
			</div>

			<!--join game as a player-->
			<div class="buttons-block hidden" data-index="4">
				<!--this is example, it should be created via js from currently open games-->
				<button class="player-pick-game-button" data-index="0">Игра 1</button>
			</div>

			<!--choose what to do as a master-->
			<div class="buttons-block hidden" data-index="5">
				<button id="master-join-game-button">Войти в игру</button>
				<button id="master-set-map-button">Настроить игру</button>
				<button id="set-users-button">Настроить игроков</button>
			</div>

			<!--join game as a master-->
			<div class="buttons-block hidden" data-index="6">
				<!--this is example, it should be created via js from currently open games-->
				<button class="master-pick-game-button" data-index="0">Игра 1</button>
			</div>

			<!--set up map as a master-->
			<div class="buttons-block hidden" data-index="7">
				<!--this is example, it should be created via js from currently open games-->
				<button class="master-pick-map-button" data-index="0">Игра 1</button>
			</div>

			<!--setting up players-->
			<div class="buttons-block hidden" data-index="8">
				<div class="login-form players-settings">
					<label class="for-input">
						<input type="text" id="new-player-name-input" placeholder="password" required>
						<span class="label-text">Имя нового игрока</span>
					</label>
					<label class="for-input">
						<input type="text" id="new-player-password-input" placeholder="password" required>
						<span class="label-text">Пароль нового игрока</span>
					</label>
					<button id="create-player-button">Создать</button>
				</div>

				<div class="login-form players-settings">
					<select id="player-username-deletion-input">
						<option value="test_name">test_name</option>
					</select>
					<button id="delete-player-button">Удалить</button>
				</div>
			</div>
		</div>
	</div>

	<!--jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!--custom scripts-->
	<script src="../js/common.js"></script>
	<script src="../js/start_page.js"></script>
</body>
</html>