<!DOCTYPE html>
<html>
<head>
	<title>Exploration game</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/common_style.css">
	<link rel="stylesheet" href="../css/setting_map_style.css">

</head>
<body>
	<div id="loading_curtain"><p>Грузимся, проверяемся</p></div>

	<div id="top-button-block">
		<button id="back-to-main-page">На главную</button>
		<button id="save-button">Сохранить</button>
	</div>

	<div id="container">
		<div id="map_container">
			<div class="hex">
				<div class="inner">
					<img src="../src/icons/camp_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/risk_1_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/building_broken_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/building_3_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/building_1_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/cave_icon.svg" class="content_icon" alt="er">
					<img src="../src/icons/building_2_icon.svg" class="content_icon" alt="er">
				</div>
				<div class="corner-1"></div>
				<div class="corner-2"></div>
			</div>
			
		</div>
	</div>

	<!--jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!--custom scripts-->
	<script src="../js/common.js"></script>
	<script src="../js/setting_map.js"></script>
</body>
</html>